@import "~vue-scroll-picker/src/picker/picker"
@import "~vue-scroll-picker/src/picker-group/picker-group"
@import "variables"
@import "animation"

.v-drumroll-picker
  .-selected
    color: $selected-color

  &__overlay
    height: 100%
    left: 0
    position: fixed
    top: 0
    width: 100%
    z-index: 200

    &.--dark
      background: rgba(0, 0, 0, 0.33)

  &__content
    align-items: center
    display: flex
    height: 100%
    left: 0
    justify-content: center
    pointer-events: none
    position: fixed
    top: 0
    width: 100%
    z-index: 201

  &__card
    background: #ffffff !important
    border-radius: 4px
    display: flex
    height: 10em
    justify-content: center
    overflow: hidden
    padding: 0 1em
    pointer-events: auto
    position: relative

    & > .vue-scroll-picker-layer
      pointer-events: none

      .top, .bottom
        background: transparent

    & > .vue-scroll-picker-group
      margin-left: .5em
      margin-right: .5em

  &--dialog &__card
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12)

  &__input
    border: none
    border-radius: 4px
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0px rgba(0, 0, 0, 0.14), 0 1px 8px 0px rgba(0, 0, 0, 0.12)
    padding: .5em

  .vdd-flex
    display: flex

@media screen and (max-width: 960px)
  .v-drumroll-picker
    &__content
      align-items: flex-end

    &__card
      border-radius: 0
      width: 100%
